@model ASC.Entities.Customer

@{ ViewBag.Title = "Detail"; }
<link href="~/Template/css/Popup-form.css" rel="stylesheet" />




<div class="container-fluid">
    <h1 class="mt-4">User Detail</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active row col-12">

            <div class="col-11">
                Personal Details
            </div>
            <div class="col-1 float-right">
                <button type="Submit" value="@Model.Id" class="Infoform btn btn-sm btn-info">
                    <i class="fas fa-edit"></i>
                </button>
            </div>

        </li>
    </ol>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table" width="100%" cellspacing="0">
                <tr>
                    <td width="25%">
                        <b>
                            @Html.DisplayNameFor(model => model.Name)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Email)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Address)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
                <tr style="border-bottom:1px solid #dee2e6">
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IsActive)
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            Dealer Details
        </li>
    </ol>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table" width="100%" cellspacing="0" align="left">
                <tr>
                    <td width="25%">
                        <b>
                            @Html.DisplayNameFor(model => model.Dealer.Name)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Dealer.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Dealer.Email)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Dealer.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            @Html.DisplayNameFor(model => model.Dealer.PhoneNumber)
                        </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Dealer.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
            </table>
        </div>

    </div>
</div>
<div id="myModal" class="modal" style="width:100%; padding-right:1%;padding-left:10%;">

</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $(".Infoform").click(function (evt) {
                var CatID = $(this).val();
                $.get('@Url.Action("EditDetail", "User")?id=' + CatID, function(data) {
                    $('#myModal').html(data);
                    $('#myModal').css("display","block");
                });
            });

        });
    </script>

    <script type="text/javascript">
        var modal = document.getElementById("myModal");
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                modal.innerHTML = "";
            }
        }
    </script>
    <script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1500",
            "timeOut": "6000",
            "extendedTimeOut": "1200",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var Type = "@TempData["Type"]";
        var Message = "@TempData["Message"]";
        if (Type == "0") {
            toastr.success(Message, 'The Site Says')
        } else if (Type == "1") {
            toastr.info(Message, 'The Site Says')
        } else if (Type == "2") {
            toastr.warning(Message, 'The Site Says')
        } else if (Type == "3") {
            toastr.error(Message, 'Inconceivable!')
        }
    });
    </script>
}
