@model IEnumerable<Entities.Department>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/popup-form.css" />
<h1>Index</h1>
<p>
    <button id="myBtn" type="Submit" class="btn btn-danger"><i class="fas fa-plus"></i> New</button>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="right">
                    <button type="Submit" value="@item.Id" class="Editform btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Edit Info !">
                        <i class="far fa-edit"></i>
                    </button>
                    <button type="Submit" value="@item.Id" class="Detailsform btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="View Info !">
                        <i class="fa fa-info"></i>
                    </button>
                    <button type="Submit" value="@item.Id" class="Deleteform btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Info !">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="myModal" class="modal" style="width:80%;">

</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function (evt) {
                $.get( '@Url.Action("Create", "Departments", new {} )', function(data) {
                    $('#myModal').html(data);
                    $('#myModal').css("display", "block");
                });
            });
            $(".Editform").click(function (evt) {
                var CatID = $(this).val();
                $.get('@Url.Action("Edit", "Departments")?id=' + CatID, function(data) {
                    $('#myModal').html(data);
                    $('#myModal').css("display","block");
                });
            });
            $(".Deleteform").click(function (evt) {
                var CatID = $(this).val();
                $.get('@Url.Action("Delete", "Departments")?id=' + CatID, function(data) {
                    $('#myModal').html(data);
                    $('#myModal').css("display","block");
                });
            });
            $(".Detailsform").click(function (evt) {
                var CatID = $(this).val();
                $.get('@Url.Action("Details", "Departments")?id=' + CatID, function(data) {
                    $('#myModal').html(data);
                    $('#myModal').css("display","block");
                });
            });
        });
    </script>

    <script type="text/javascript">
        var modal = document.getElementById("myModal");
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                modal.innerHTML = "";
            }
        }
    </script>

}