@model Source_Control_Final_Assignment.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
}
@{ 
    var user = ViewBag.User;
}
<h2>Index</h2>

<div>
    <h4>RegisterViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @user.Email
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @user.Phone_Number
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @user.Age

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @user.Experience
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfilePicturePath)
        </dt>

        <dd>
            <img src="@Url.Content(user.UserProfilePicturePath)" alt="User profile" style="height:100px"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
