@model IEnumerable<ProductManagement.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <button id="create" type="submit" value="submit" class="btn btn-warning">Create New</button>
</p>
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <button type="submit" value="@item.Id" class="edit btn btn-primary">Edit</button>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="area" class="col-md-6">


        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#create").click(function (evt) {

                $.get( '@Url.Action("Create", "Category", new {} )', function(data) {
                    $('#area').html(data);
                    $('#area').css('border', '1px solid black');
                });
            });

            $(".edit").click(function (evt) {
                var CatID = $(this).val();
                $.get('@Url.Action("Edit", "Category")?id=' + CatID, function(data) {
                    $('#area').html(data);
                    $('#area').css('border', '1px solid black');
                });
            });

            $("#cancel").click(function (evt) {
                $('#area').empty()
                $('#area').css('border', '0px solid black');

            });

        });
    </script>
    <script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,

            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1500",
            "timeOut": "6000",
            "extendedTimeOut": "1200",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var Type = "@TempData["Type"]";
        var Message = "@TempData["Message"]";
        if (Type == "0") {
            toastr.success(Message, 'The Site Says')
        } else if (Type == "1") {
            toastr.info(Message, 'The Site Says')
        } else if (Type == "2") {
            toastr.warning(Message, 'The Site Says')
        } else if (Type == "3") {
            toastr.error(Message, 'Inconceivable!')
        }
    });
    </script>
}