@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead" style="color:#000080;">@ViewBag.UserName</p>
    <p style="margin-bottom:100px;">
      @* @Html.ActionLink("Explore", "Index", "Product", new { }, new { @class = "btn btn-primary btn-lg" })*@
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product List</h2>
        <p>
            <ul>
                <li>View Products</li>
                <li>Pagination</li>
                <li>Search Product</li>
                <li>Sorting</li>
            </ul>
        </p>
        <p>
            @Html.ActionLink("All Products", "Index","Product", new { }, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Add Products</h2>
        <p>
            <ul>
                <li>Create Products</li>
                <li>Select Category</li>
                <li>Add Images</li>
                <li>Edit/Delete Products</li>
            </ul>
        </p>
        <p>
            @Html.ActionLink("Create New", "Create", "Product", new { }, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage Category</h2>
        <p>
            <ul>
                <li>Create Category</li>
                <li>List of Category</li>
                <li>Edit Category</li>
                <li>Delete Category</li>
            </ul>
        </p>
        <p>
            @Html.ActionLink("Categories", "Index", "Category", new { }, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>