@model Entities.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="modal-content">
    <div class="form-horizontal">
       
        <div class="card-body">
            <h5 class="card-title">
                Employee Details
                <span class="close" id="close">&times;</span>
            </h5>
            <hr />
            <div class="form-group row">
                <div class="control-label col-md-3 m-t-15">
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-md-3 m-t-15">
                    <strong>@Html.DisplayNameFor(model => model.Salary)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Salary)
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-md-3 m-t-15">
                    <strong>@Html.DisplayNameFor(model => model.IsManager)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.IsManager)
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-md-3 m-t-15">
                    <strong> @Html.DisplayNameFor(model => model.Manager)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Manager)
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-md-3 m-t-15">
                    <strong>@Html.DisplayNameFor(model => model.Phone)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-md-3 m-t-15">
                    <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-md-3 m-t-15">
                    <strong>@Html.DisplayNameFor(model => model.Department)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Department.Name)
                </div>
            </div>

        </div>

            <div class="border-top">
                <div class="card-body" align="center">
                   
                </div>
            </div>
        
    </div>
</div>

@*<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@